* {
    background: black;
    overflow: hidden;
}

canvas {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -50vmin;
    width: 100vmin;
    height: 100vmin;
}
section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
article{
    height: 200px;
}